services:
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8001:8000"
    env_file:
      - .env
    volumes:
      - ./backend:/code/backend
    environment:
      - LLM_PROVIDER=ollama
      - MODEL_NAME=llama3.1:8b
      - OLLAMA_BASE_URL=http://host.docker.internal:11434